{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About Rango
{% endblock %}

{% block body_block %}
  <h1>Rango says...</h1>
  <div class="">
    {% if user.is_authenticated %}
      howdy {{ user.username }}!
    {% else %}
      hey there partner!
    {% endif %}
  </div><hr>
  <div class="">
    <h3>Most Liked Categories</h3>
    {% if categories %}
    <ul>
      {% for category in categories %}
        <li>
          <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no categories present.</strong><br>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'add_category' %}">Add a New Category</a>
  {% endif %}
  <hr>
  <div class="">
    <h3>Most Viewed Pages</h3>
    {% if pages %}
      <ul>
        {% for page in pages %}
          <li>
            <a href="{{ page.url }}">{{ page.title }} ({{ page.views }})</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>

  <div class="">
    <img src="{% static "images/rango.jpg" %}" alt="">
    <p>This tutorial has been put together by Leif Azzopardi.</p>
    <p>Visits: {{ visits }}</p>
  </div>
{% endblock %}
